/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

html, body {
  margin: 0;
}

  ul li {
    list-style-type: none;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  .container {
    display: flex;
    justify-content: right;
    align-items: right;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }