/* ---------------- Mobile (Default) ---------------- */
/* Image container */
#img-container {
    position: relative;
    min-height: 100vh;
}

#img-container img {
    position: absolute;
    max-height: 40vh;
    max-width: 40vw;
}

#about-me-text {
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}
  
#about-me-text p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
}

#resume {
  text-decoration: underline;
}

/* ---------------- Tablet (min-width: 600px) ---------------- */
@media (min-width: 768px) {
  #about-me-text {
    padding: 2rem 5rem ;
    border-radius: 1rem;
    font-size: 1.5rem;
  }
  
  #about-me-text p {
    margin: 0;
    text-align: center;
  }

  footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
  
/* ---------------- Desktop (min-width: 1024px) ---------------- */
@media (min-width: 1024px){}
#about-me-text {
  padding: 2rem 20vw;
  border-radius: 1rem;
  font-size: 2rem;
}