/* General */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: rgb(0,0,0);
    font-weight: 500;
  }
  
  a:visited {
    color: inherit;
  }

main {
    flex: 1;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 1% .5rem 1rem;
    border-bottom: thin solid rgba(0,0,0,1);
}

.header h1 {
    padding: 1rem;
    align-items: center;
}

.hamburger_menu {
    display: flex;
}

.hamburger_menu ul {
    display: flex;
    align-items: center;
}

.hamburger_menu ul li {
    display: block;
    padding: 1rem;
}

.hamburger_menu li a {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

/* Content */

.title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem;
}

.subtitle {
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 2rem;
}

.main_list {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.main_list li {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 2rem;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.social_links {
    display: flex;
    flex-direction: column;
}

#back_to_top a {
    font-size: 2rem;
    font-weight: 600;
    padding: .25rem;
}

#back_to_top {
    flex-direction: column;
}

@media (max-width: 768px) {
    html, body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    a {
        text-decoration: none;
        color: rgb(0,0,0);
        font-weight: 500;
      }
      
      a:visited {
        color: inherit;
      }
    
    main {
        flex: 1;
    }
    
    /* Header */
    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem 1% .5rem 1rem;
        border-bottom: thin solid rgba(0,0,0,1);
    }
    
    .header h1 {
        font-size: 1rem;
        padding: 1rem;
        align-items: center;
    }
    
    .hamburger_menu {
        display: flex;
    }
    
    .hamburger_menu ul {
        display: flex;
        align-items: center;
    }
    
    .hamburger_menu ul li {
        display: block;
        padding: 1rem;
    }
    
    .hamburger_menu li a {
        font-size: .8rem;
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 500;
    }
    
    /* Content */
    
    .title {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 500;
        padding: 1.2rem;
    }
    
    .subtitle {
        text-transform: lowercase;
        font-size: .8rem;
        font-weight: 300;
        padding: .8rem;
    }
    
    .main_list {
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    
    .main_list li {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 1.2rem;
    }
    
    /* Footer */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: relative;
        font-size: .8rem;
    }
    
    .social_links {
        display: flex;
        flex-direction: column;
    }
    
    #back_to_top a {
        font-size: 2rem;
        font-weight: 600;
        padding: .25rem;
    }
    
    #back_to_top {
        flex-direction: column;
    }

}